/*! zeroing ================================================================================ zeroing */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100vmax;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a[href^="tel:"],
a[href^="mailto:"] {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*! end  ================================================================================ zeroing */
body {
  background-color: rgba(44, 43, 43, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.state {
  margin: 100px auto;
  width: 600px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: wheat;
  padding: 20px;
  margin: 30px;
}

.state .title {
  font-size: 18px;
  color: chocolate;
}

.state .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 80px;
  font-size: 22px;
  color: #6eb800;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.state .counter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.state .counter-button button {
  font: 15px bold;
  -webkit-box-shadow: 2px 2px 5px 1px #494646;
          box-shadow: 2px 2px 5px 1px #494646;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  width: 100px;
  background-color: #ff9c9c;
  border-right: 2px solid #c57878;
  border-bottom: 2px solid #c57878;
}

.state .counter-button button:hover {
  background-color: #e9ae0a;
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
  border-right: 2px solid #bb8c0b;
  border-bottom: 2px solid #bb8c0b;
}

.state .counter-button button:active {
  background-color: #e9ae0a;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
