// function of fluid size
// f-min - min size of the object
// f-max - max size of the object
// v-min - min size of the window
// v-max - max size of the window
// example: font-size: calcFluidSize(18, 30, 320, 1920); --> create font with 30 px in window width 1920 px and 18px,
//		    when window is 320

@function calcFluidSize($f-min, $f-max, $v-min, $v-max) {
	$k: ($f-max - $f-min)/ ($v-max - $v-min);
	$b: $f-min - $k * $v-min;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}

@function calcFluidSizeUnits($f-min, $f-max, $v-min, $v-max, $units: px) {
	$k: ($f-max - $f-min)/ ($v-max - $v-min);
	$b: $f-min - $k * $v-min;

	$b: $b + $units;

	@return calc(#{$k} * 100vw + #{$b});
}
