@import "zero";

// function of fluid size
// f-min - min size of the object
// f-max - max size of the object
// v-min - min size of the window
// v-max - max size of the window
// example: font-size: calcFluidSize(18, 30, 320, 1920); --> create font with 30 px in window width 1920 px and 18px,
//		    when the window is 320

@function calcFluidSize($f-min, $f-max, $v-min, $v-max) {
	$k: ($f-max - $f-min)/ ($v-max - $v-min);
	$b: $f-min - $k * $v-min;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}

@function calcFluidSizeUnits($f-min, $f-max, $v-min, $v-max, $units: px) {
	$k: ($f-max - $f-min)/ ($v-max - $v-min);
	$b: $f-min - $k * $v-min;

	$b: $b + $units;

	@return calc(#{$k} * 100vw + #{$b});
}
// =========================

#vue-app {
	background-color: rgba(119, 115, 115, 0.5);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	min-height: 100%;
}
.demo {
	margin-top: 200px;
	margin-left: 20px;
}
.state {
	margin: 100px auto;
	width: 600px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: wheat;
	padding: 20px;
	margin: 30px;

	.title {
		font-size: 18px;
		color: chocolate;
	}
	.data {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 85%;
		height: 80px;
		font-size: 22px;
		color: rgb(110, 184, 0);
		font-weight: bold;
		font-family: "Times New Roman", Times, serif;
	}
	.counter-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;

		button {
			font: 15px bold;
			box-shadow: 2px 2px 5px 1px rgb(73, 70, 70);
			margin: 5px;
			padding: 5px;
			border-radius: 6px;
			width: 100px;
			background-color: #ff9c9c;
			border-right: 2px solid #c57878;
			border-bottom: 2px solid #c57878;
		}
		button:hover {
			background-color: #e9ae0a;
			transition: 100ms linear;
			border-right: 2px solid #bb8c0b;
			border-bottom: 2px solid #bb8c0b;
		}
		button:active {
			background-color: rgb(233, 174, 10);
			box-shadow: none;
			border: none;
		}
	}
}
